.container {
    min-height: 100vh;
    background-color: red;
    min-width: 350px;
}

.flex {

    display: flex;
}

.align-center {
    align-items: center;
}

.align-top {
    align-items: start;
}

.justify-right {
    justify-content: right;
}

.apart {
    justify-content: space-between;
}




.outer-container {
    align-items: center;
}

.span-text {
    color: lightgray;
}

.chat-list-container,
.chat-name-container {
    border-radius: 6px;
    padding: 4px;
    cursor: pointer;
    transition: 0.1s;

    .chat-title-container {
        margin-left: 15px;
        align-content: center;

        .chat-title {
            font-size: 20px;
            font-weight: bold;
        }


        .last-message {
            font-size: 14px;
        }
    }
}



.chat-list-container:hover {
    background-color: yellow;
}

.active {
    background-color: yellow;
}




.chat-container {
    width: 100%;
    background-color: green;

    .chat-name {
        font-size: 26px;
        font-weight: bold;
    }


    .home-screen {
        margin: auto;
        min-height: 100vh;
        align-content: center;
    }

    position: relative;
    // width: 100%;

    .chat-screen {

        background-color: brown;

        .footer {
            position: absolute;
            bottom: 0;
            text-align: center;
            // width: 100%;
        }
    }



}

.chat-container {
    position: relative;

    .chat-body {
        position: absolute;
        margin-top: 105px;
        bottom: 0;
        top: 0;
        overflow-y: auto;
        background-color: blue;
        padding-bottom: 30px;

        div {
            padding: 5px;
        }

        .chat-user-icon {
            padding-top: 0;
        }

        .user-img {
            border-radius: 50%;
            width: 30px;
        }

        .chat-user-message {
            width: 70%;
            background-color: brown;
            border-radius: 4px;
            border-top-left-radius: 0;
        }

        .self-msg {
            border-top-right-radius: 0;
            border-top-left-radius: 4px;
        }


    }
}


@media screen and (max-width:690px) {
    .flex{
        flex-wrap: wrap;
    }

    .container{
        width: 100%;
        min-width: 250px;
    }

    .chat-container{
        visibility: hidden;
        display: none;
    }

    
}