.container {
    min-height: 100vh;
    background-color: #F9F8F3;
    min-width: 350px;
    border-right: 2px solid #B7B7B7;
}

hr{
    border: 0;
    border-top: 2px solid #B7B7B7;
}

.flex {
    background-color: #F9F8F3;
    display: flex;
}

.fa-paper-plane{
    transform: rotate(50deg);
}

.align-center {
    align-items: center;
}

.align-top {
    align-items: start;
}

.justify-right {
    justify-content: right;
}

.apart {
    justify-content: space-between;
}

.text-right {
    text-align: right;
}



.outer-container {
    align-items: center;
}

.span-text {
    color: lightgray;
}

.m10{
    margin: 10px;
}

.chat-list-container,
.chat-name-container {
    border-radius: 6px;
    padding: 4px;
    cursor: pointer;
    transition: 0.1s;
    background-color: #F9F8F3;

    .chat-title-container {
        margin-left: 15px;
        align-content: center;

        .chat-title {
            font-size: 20px;
            font-weight: bold;
        }


        .last-message {
            font-size: 14px;
        }
    }
}



.chat-list-container:hover {
    background-color: #999892;
}

.active {
    background-color: yellow;
}




.chat-container {
    width: 100%;
    z-index: 2;
    min-height:100vh;
    background-color: #F9F8F3;
    margin-top: 10px;
    .chat-name {
        font-size: 26px;
        font-weight: bold;
        margin-left: 10px;
    }


    .home-screen {
        margin: auto;
        min-height: 100vh;
        align-content: center;
    }

    position: relative;
    // width: 100%;
    .footer {
        z-index: 2;
        background-color: white;
        position: absolute;
        bottom: 8px;
        border-radius: 8px;
        text-align: center;
        // width: 100%;
        display: flex;
        justify-content: space-between;
        // width: 100%;
        // border-top: 1px solid black;
        right: 0;
        left: 0;
        // flex: 1;
        margin: auto;
        width: 97%;
        
        div:first-child {
            flex: 1;

            .typing-box {
                width: 100%;
                padding: 8px;
                background-color: transparent;
                outline: none;
                box-sizing: border-box;
                border: none;
            }
        }

        div:last-child {
            display: flex;
            align-items: center;
            gap: 15px;
            padding-right: 10px;

            /* Adjust spacing between icons as needed */
            .fa-regular,
            .fa-solid {
                font-size: 20px;
                /* Adjust icon size as needed */
                cursor: pointer;
            }
        }


    }



}

.msg-time {
    font-size: 11px;
    line-height: 0.1;
}

.chat-container {
    position: relative;

    .chat-body {
        z-index: 1;
        background-color: #F9F8F3;
        position: absolute;
        margin-top: 105px;
        bottom: 46px;
        top: 0;
        overflow-y: auto;
        padding-bottom: 30px;
        // min-height: 50vh;

        div {
            padding: 5px;
        }

        .date-container{
            position: relative;
            margin: 10px 0;

            
            div:last-child{
                position: absolute;
                left: 0;
                right: 0;
                margin-top: -20px;
                text-align: center;
                span{
                    background-color: #F9F8F3;
                    color: #606060;
                }
            }
        }

        .chat-user-icon {
            padding-top: 0;
        }

        .user-img {
            border-radius: 50%;
            width: 30px;
            border: 1px solid #B7B7B7;
        }

        .chat-user-message {
            width: 80%;
            background-color: white;
            color: #606060;
            border-radius: 12px;
            border-top-left-radius: 0;
            font-size: 14px;
        }

        .self-msg {
            border-bottom-right-radius: 0;
            border-top-left-radius: 12px;
            background-color: #1C63D5;
            color: white;
        }


    }
}



@media screen and (max-width:690px) {
    .flex {
        flex-wrap: wrap;
    }

    .container {
        width: 100%;
        min-width: 250px;
    }

    .chat-container {
        visibility: hidden;
        // display: none;
    }


}